name: Build Typescript Project

on:
  workflow_dispatch:
  push:

jobs:
  commitlint:
    name: Commit Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: wagoid/commitlint-github-action@v6
  build:
    name: Build library
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install Yarn
        run: npm install -g yarn
      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "yarn"
      - uses: actions/cache@v4
        with:
          path: |
            ./node_modules
          key: node_modules
      - name: Install Yarn dependencies
        run: yarn install --frozen-lockfile --ignore-scripts
      - name: Build package
        run: yarn build
